@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(32 32 32);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@import "./articles.css";

.row-html {
  background: transparent !important;
}

/* GameList.css */
.games-list {
  display: grid;
  height: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  justify-items: center;
}

.game {
  width: 200px;
  height: 300px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.game img {
  width: 300px;
  height: 200px;
}

.game p {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  margin: 20px 0;
  padding: 0 20px;
}

.game:hover {
  transform: scale(1.05);
}
